html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 70px;
  margin-bottom: 60px;
}
.navbar-right {
  padding-top: 30px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 20px;
  border-top: 1px solid #ccc;
  height: 60px;
  background-color: #f8f8f8;
}
.maincontent {
  padding-top: 40px;
}
.item-container {
  height: 400px;
  -webkit-transition:1s ease-in-out;
}
.item-container:hover {
  background-color: blue;
}
@media (max-width: 992px) {
  .item-container {
    height: 100%;
  }
}
.items {
  margin-bottom: 20px;
}
.buttons {
  margin-bottom: 50px;
}
.itemDetails {
  position: relative;
  top: 50px;
}
.inputs {
  position: relative;
  top: 50px;
}
.tagbox {
  position: relative;
  height: 100px;
  margin-top: 200px;
  bottom: 200px;
}
.itembuttons {
  position: relative;
  bottom: 70px;
  right: 28px;
}
