extend layout
block main
    .container-itemDetails
    .row
      p "Shipping Address"
      input(id='shipping',value='',placeholder='',name='shipping')
      p "Credit Card Number"
      input(id='card',value='',placeholder='',name='card')
      p "Security Number"
      input(id='csv',value='',placeholder='',name='csv')
