extends layout

block main
    .container.itemDetails
        .row
            .col-lg-12
                h1 Add an Item
                form(role="form", action="/additem", method="post")
                    .form-group
                        label(for="itemName") Item Name
                        input#itemName.form-control(name="itemName", type="text")
                    .form-group
                        label(for="description") Description
                        textarea#description.form-control(name="description", type="text")
                    .form-group
                        label(for="price") Price
                        input#price.form-control(name="price", type="text")
                    .form-group
                        label(for="photoURL") Photo URL
                        input#photoURL.form-control(name="photoURL", type="text")
                    .form-group
                        label(for="tags") Tags
                    po
                        .cntainer.tagbox
                            <form action="action_page.php">
                            <input type="checkbox" name="beauty" value="beauty"> beauty
                            <br>
                            <input type="checkbox" name="body" value="body"> body
                            <br>
                            <input type="checkbox" name="cactus" value="cactus"> cactus
                            <br>
                            <input type="checkbox" name="face" value="face"> face
                            <br>
                            <input type="checkbox" name="flowering" value="flowering"> flowering
                            <br>
                            <input type="checkbox" name="foods" value="foods"> foods
                            <br>
                            <input type="checkbox" name="health" value="health"> health
                            <br>
                            <input type="checkbox" name="oils" value="oils"> oils
                            <br>
                            <input type="checkbox" name="organic" value="organic"> organic
                            <br>
                            <input type="checkbox" name="plants" value="plants"> plants
                            <br>
                            </form>
                        .container.itembuttons
                            a.btn.btn-link(href="/") Cancel
                            button.btn.btn-default(type="submit", name="AddItem", value="AddItem") Add Item To Catalog

