extends layout

block main
    .container.itemDetails
        .row
            .col-lg-12
                h1 Add an Item
                form(role="form", action="/additem", method="post")
                    .form-group
                        label(for="itemName") Item Name
                        input#itemName.form-control(name="itemName", type="text")
                    .form-group
                        label(for="description") Description
                        textarea#description.form-control(name="description", type="text")
                    .form-group
                        label(for="price") Price
                        input#price.form-control(name="price", type="text")
                    .form-group
                        label(for="photoURL") Photo URL
                        input#photoURL.form-control(name="photoURL", type="text")
                    .form-group
                        label(for="tags") Tags
                    p
                        .container.tagbox
                            <input type="checkbox" name="tags" value="beauty"> beauty
                            <br>
                            <input type="checkbox" name="tags" value="body"> body
                            <br>
                            <input type="checkbox" name="tags" value="cactus"> cactus
                            <br>
                            <input type="checkbox" name="tags" value="face"> face
                            <br>
                            <input type="checkbox" name="tags" value="flowering"> flowering
                            <br>
                            <input type="checkbox" name="tags" value="foods"> foods
                            <br>
                            <input type="checkbox" name="tags" value="health"> health
                            <br>
                            <input type="checkbox" name="tags" value="oils"> oils
                            <br>
                            <input type="checkbox" name="tags" value="organic"> organic
                            <br>
                            <input type="checkbox" name="tags" value="plants"> plants
                            <br>
                        .container.itembuttons
                            a.btn.btn-link(href="/") Cancel
                            button.btn.btn-default(type="submit", name="AddItem", value="AddItem") Add Item To Catalog

