extend layout
block main
    .container.maincontent
        .row
            .col-lg-12
                  h1 Register
                  form(role="form", action="/checkout", method="post")
                    .form-group
                      label(for="shipping") Shipping Address
                    .form-group
                      input(id='shipping',value='',placeholder='',name='shipping')
                    .form-group
                      label(for="card") Credit Card Number
                    .form-group
                      input(id='card',value='',placeholder='',name='card')
                    .form-group
                      label(for="csv") Security Number
                    .form-group
                      input(id='csv',value='',placeholder='',name='csv')
                    .form-group
                      label(for="exp") Expiration Date
                    .form-group
                      input(type="exp" name="exp")
                  p
                  button Checkout
