extend layout
block main
    .container.maincontent
        .row
            .col-lg-12
                  h1 Sorry
                  h4 The item values you have given are invalid, please try again.
    p
                      btn.btn-link(href="/additem") Retry
                      a.a.btn.btn-link(href="/") Cancel
