extend layout
block main
    .container.maincontent
        .row
            .col-lg-12
                  h1 Thank You
                  h4 You item has now been added to our catalog.
    p
                      btn.btn-link(href="/items") Catalog
                      a.a.btn.btn-link(href="/additem") Add Another Item
