extend layout
block main
    .container.maincontent
        .row
            .col-lg-12
                  h1 Sorry
                  h4 Your registry is invalid, please try agian.
    p
                      btn.btn-link(href="/auth/register") Retry
                      a.a.btn.btn-link(href="/") Cancel
