extends layout

block main
    .container.maincontent
        .row
            .col-lg-12
              h1 Pay Here
                form(role="form", action="/auth/cardSubmit", method="post")
                  script(src="https://checkout.stripe.com/checkout.js", class="stripe-button",
                  data-key="pk_test_4cwLM2EukepBtP2SGrNjqFF2", data-amount="2000", data-name="Demo Site", data-description="2 widgets ($20.00)")

