.container.maincontent
        .row
            .col-lg-12
                  form.list-group(name="update-user")
                        li.form-group.list-group-item
                              label(for="firstName") First Name
                              input.form-control(name="firstName", type="text", placeholder= user.firstName)
                        li.form-group.list-group-item
                              label(for="lastName") Last Name
                              input.form-control(name="lastName", type="text", placeholder=user.lastName)
                        li.form-group.list-group-item
                              label(for="phoneNumber") Phone Number
                              input.form-control(name="phoneNumber", type="text", placeholder=user.phoneNumber)
                        li.form-group.list-group-item
                              label(for="emailAddress") Email Address
                              input.form-control(name="emailAddress", type="text", placeholder=user.emailAddress)
                        li.form-group.list-group-item
                              label(for="addressType") Address:
                        li.form-group.list-group-item
                              label(for="addressStreet") Street
                              input.form-control(name="street", type="text", placeholder=user.address.street)
                        li.form-group.list-group-item
                              label(for="addressSecondStreet") Second Line (optional)
                              input.form-control(name="secondStreet", type="text")
                        li.form-group.list-group-item
                              label(for="addressCity") City
                              input.form-control(name="city", type="text")
                        li.form-group.list-group-item
                              label(for="addressState") State
                              input.form-control(name="state", type="text")
                        li.form-group.list-group-item
                              label(for="addressZipCode") ZIP Code
                              input.form-control(name="zipCode", type="text")
                        li.form-group.list-group-item
                              label(for="password") Password
                              input.form-control(name="password", type="text")
                        p
                        a.btn.btn-link(href="/") Cancel
                        button.btn.btn-default(type="submit", name="update", value="Update") Update

